<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="/assets/css/{{#if logOut}}login{{else}}layout-style{{/if}}.css">
  <link rel="stylesheet" href="/assets/css/styleLogin.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Fontawesome CDN Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{{#if logOut}}

<body class="body">

  <section>

    {{{body}}}

  </section>
  {{else}}

  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class='bx bx-notepad icon'></i>
        <div class="logo_name">To Do List</div>
        <i class='bx bx-menu' id="btn"></i>
      </div>

      <li>
        <i class='bx bx-search'></i>
        <input type="text" placeholder="Search...">
        <span class="custom-tooltip">Search</span>
      </li>
      <li>
        <a href="/home">
          <i class='bx bx-home-alt {{#if homeActive}}bg-light text-dark{{/if}}'></i>
          <span class="links_name">Tasks</span>
        </a>
        <span class="custom-tooltip">Tasks</span>
      </li>
      <li>
        <a href="/completed-tasks">
          <i class='bx bx-check-square {{#if completedActive}}bg-light text-dark{{/if}}'></i>
          <span class="links_name">Completed</span>
        </a>
        <span class="custom-tooltip">Completed</span>
      </li>
      <li>
        <a href="/pending-tasks">
          <i class='bx bx-time-five {{#if pendingActive}}bg-light text-dark{{/if}}'></i>
          <span class="links_name">Pending</span>
        </a>
        <span class="custom-tooltip">Pending</span>
      </li>
      <li>
        <a href="/user">
          <i class='bx bx-user'></i>
          <span class="links_name">User</span>
        </a>
        <span class="custom-tooltip">User</span>
      </li>
      <li class="profile">
        <div class="profile-details">
          <img src="/images/profile.jpg" alt="profileImg">
          <div class="name_job">
            <div class="name">Frainer Encarnación</div>
            <div class="job">@frainer.alex</div>
          </div>
        </div>
        <a href="/logout"><i class='bx bx-log-out' id="log_out"></i></a>
      </li>

    </div>

    <section class="home-section">
      {{!-- <div class="text">Dashboard</div> --}}
      {{{body}}}

    </section>
    {{/if}}

    <script src="/assets/js/layoutScript.js"></script>
    <script src="/assets/js/index/index.js"></script>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  </body>

</html>